@import 'tailwindcss';

:root {
    --light-blue: rgb(138, 180, 248);
/*    bg color*/
    --dark-grey: rgb(32, 33, 36);
/*    headering color*/
    --light-grey: rgb(154, 160, 166);

    --grey-500: #272727;

    --primary-color: var(--light-blue);
    --link-color: var(--light-blue);
}

html, body {
    height: 100%;
}

body {
    background: var(--dark-grey);
    color: var(--light-grey);
}

a {
    color: var(--link-color);
}

.submit-btn {
    background: var(--primary-color);
    color: var(--dark-grey);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0 1rem;
    cursor: pointer;
}

input {
    background: var(--grey-500);
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
}

/*svg {
    opacity: 0.25;
    stroke: var(--light-grey);
}

svg:hover {
    opacity: 1;
    stroke: var(--primary-color);
}*/
