@import 'tailwindcss';

:root {
    --light-blue: rgb(138, 180, 248);
    --purple: #a186f1;

    --dark-grey: rgb(32, 33, 36);

    --light-grey: rgb(154, 160, 166);

    --grey-200: #4f4f4f;
    --grey-300: #3c3c3c;
    --grey-500: #272727;

/*    --pc: var(--blue-11);*/
    --pc: #a186f1;
    --link-color: #b6a2f2;

    /* radix colors   */
    --purple-9: #8E4EC6;
    --purple-10: #9A5CD0;
    --purple-11: #D19DFF;

    --blue-9: #0090FF;
    --blue-10: #3B9EFF;
    --blue-11: #70B8FF;

    --sky-8: #197CAE;
    --sky-9: #7CE2FE;
    --sky-10: #A8EEFF;
    --sky-11: #75C7F0;
    --sky-12: #C2F3FF;

    --btn-radius: 0.5rem;

    --dialog-shadow: color-mix(in srgb, #000 30%, transparent) 0 2px 6px 2px,
        color-mix(in srgb, #000 15%, transparent) 0 2px 6px 2px;
}

html, body {
    height: 100%;
}

body {
    font-family: "DejaVu Sans", Roboto, Arial, sans-serif;
    background: var(--grey-500);
    color: #fff;
}

a {
    color: var(--link-color);
}

button {
    border-radius: var(--btn-radius);
    padding: 0 1rem;
    background: var(--grey-300);
}

.submit-btn {
    background: var(--pc);
    color: var(--dark-grey);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0 1rem;
}

.icon-btn {
    background: none;
    padding: .25rem;
    border-radius: 100%;
}

.icon-btn:hover {
    background: color-mix(in srgb, #fff 20%, transparent);
}

input, textarea {
    background: var(--grey-500);
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
    padding: 0 0.25rem;
}

.text-semi {
    color: #ccc;
}
